.benefits{
    display: flex;
    &__item{
        flex: 1;
        padding: 0 3%;
        position: relative;
        &:first-child{
            padding-left: 0;
        }
        &:last-child{
            padding-right: 0;
        }
        &:not(:last-child){
            &::before{
                position: absolute;
                content: url(../images/why/4.svg);
                top: 44px;
                right: 0;
                transform: translateX(50%);
            }
        }
    }
    .benefit{
        text-align: center;
        &__image{
            display: inline-block;
            width: 12.8rem;
            height: 12.8rem;
            position: relative;
            background-color:  #F2F5F4;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 2rem;
            img{
                width: 6.8rem;
                height: 6.8rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        &__title{
            font-weight: 700;
            font-size: 2.7rem;
            line-height: 1.2;
            color: $font-color;
            margin-bottom: 2rem;
        }
        &__desk{
            font-weight: 300;
            font-size: 1.8rem;
            line-height: 1.2;
            color: $gray;
        }
    }
}