.benefits{
    &__content{
        display: flex;
    }
    &__item{
        flex: 1;
        padding: 0 1%;
        position: relative;
        @include _Desktop{
            padding: 0 3%;
        }
        &:first-child{
            padding-left: 0;
        }
        &:last-child{
            padding-right: 0;
        }
        &:not(:last-child){
            &::before{
                position: absolute;
                content: url(../images/why/4.svg);
                top: rem(44px);
                right: 0;
                transform: translateX(50%);
                display: none;
                @include _Desktop{
                    display: block;
                }
            }
        }
    }
    .benefit{
        text-align: center;
        &__image{
            display: inline-block;
            width: rem(128px);
            height: rem(128px);
            position: relative;
            background-color:  #F2F5F4;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: rem(20px);
            img{
                width: rem(68px);
                height: rem(68px);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        &__title{
            font-weight: 700;
            font-size: rem(27px);
            line-height: 1.2;
            color: $font-color;
            margin-bottom: rem(7px);
            @include _Desktop{
                margin-bottom: rem(20px);
            }
        }
        &__desk{
            font-weight: 300;
            font-size: rem(18px);
            line-height: 1.2;
            color: $gray;
        }
    }
}