.features{
    display: flex;
    list-style: none;
    &__item{
        display: flex;
        align-items: center;
        .feature{
            &__icon{
                width: 35px;
                height: 35px;
                margin-right: 14px;
            }
            &__text{
                font-weight: 700;
                font-size: 16px;
                line-height: 1.1;
                color: $white;
                max-width: 900px;
            }
        }
        &:not(:last-child){
            margin-right: 33px;
        }
    }
}