.fixed-menu{
    position: fixed;
    top: 20%;
    right: 3%;
    z-index: $z-fixed-menu;
    display: none;  
    @include _Desktop{
        display: block;
    }
    &__item{
        &.active{
            .fixed-menu__link{
                border: rem(1px) solid $white;
            }
        }
        &:not(:last-child){
            margin-bottom: rem(5px);
        }
    }
    &__link{
        width: rem(18px);
        height: rem(18px);
        border-radius: 50%;
        border: rem(1px) solid transparent;
        display: block;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            display: block;
            width: rem(8px);
            height: rem(8px);
            border-radius: 50%;
            background-color: $white;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}