.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $blue;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: rem(90px);
    padding: 0 rem(30px);
    z-index: 100;
    @include _Desktop{
        width: auto;
        position: sticky;
        background-color: transparent;
        width: auto;
        top: initial;
        left: initial;
        height: auto;
        padding: 0;
        z-index: initial;
    }
    .logo{
        display: inline-block;
        text-decoration: none;
    }
    .burger{
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(26px);
        height: rem(24px);
        position: relative;
        div{
            width: 100%;
            height: rem(4px);
            background-color: $white;
            border-radius: rem(2px);
            &::before,
            &::after{
                content: "";
                width: 100%;
                height: rem(4px);
                border-radius: rem(2px);
                background-color: $white;
                position: absolute;
            }
            &::before{
                top: 0;
            }
            &::after{
                bottom: 0;
            }
        }
        @include _Desktop{
            display: none;
        }
    }
    .menu{
        display: none;
        &__list{
            display: flex;
            align-items: center;
            list-style: none;
        }
        &__item{
            &:not(:last-child){
                margin-right: rem(22px);
            }
        }
        &__link{
            text-decoration: none;
            font-weight: 700;
            font-size: rem(18px);
            line-height: 1;
            color: $white;
        }
        @include _Desktop{
            display: block;
        }
    }
    .phone-number{
        display: none;
        align-items: center;
        text-decoration: none;
        &__icon{    
            width: rem(13px);
            height: rem(14px);
            margin-right: rem(5px);
        }
        &__text{
            font-weight: 700;
            font-size: rem(22px);
            line-height: 1;
            color: $white;
        }
        @include _Desktop{
            display: flex;
        }
    }
}