.headline{
    text-align: center;
    margin-bottom: 50px;
    &__subtitle{
        font-weight: 400;
        font-size: 18px;
        line-height: 1.2;
        color: $gray;
        padding: 0 27%;
    }
}