.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo{
        display: inline-block;
        text-decoration: none;
    }
    .menu{
        &__list{
            display: flex;
            align-items: center;
            list-style: none;
        }
        &__item{
            &:not(:last-child){
                margin-right: 22px;
            }
        }
        &__link{
            text-decoration: none;
            font-weight: 700;
            font-size: 18px;
            line-height: 1;
            color: $white;
        }
    }
    .phone-number{
        display: flex;
        align-items: center;
        text-decoration: none;
        &__icon{    
            width: 13px;
            height: 14px;
            margin-right: 5px;
        }
        &__text{
            font-weight: 700;
            font-size: 22px;
            line-height: 1;
            color: $white;
        }
    }
}