.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .menu{
        &__list{
            display: flex;
            align-items: center;
            list-style: none;
        }
        &__item{
            &:not(:last-child){
                margin-right: 2.2rem;
            }
        }
        &__link{
            text-decoration: none;
            font-weight: 700;
            font-size: 1.8rem;
            line-height: 1;
            color: $white;
        }
    }
    .phone-number{
        display: flex;
        align-items: center;
        text-decoration: none;
        &__icon{    
            width: 1.3rem;
            height: 1.4rem;
            margin-right: 0.5rem;
        }
        &__text{
            font-weight: 700;
            font-size: 2.2rem;
            line-height: 1;
            color: $white;
        }
    }
}