.hero{
    margin-top: rem(90px);
    background: url(../images/hero/bg.png) 85% center no-repeat;
    background-size: auto 100%;
    background-color: #335487;
    height: 90vh;
    min-height: rem(650px);
    padding: rem(24px) 0 rem(70px);
    @include _Tablet{
        background: url(../images/hero/bg.png) right center no-repeat;
        background-size: cover;
    }
    @include _Desktop{
        height: 100vh;
        margin-top: 0;
        background: url(../images/hero/bg.png) center center no-repeat;
        background-size: cover;
    }
    &__title{
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        @include _Desktop{
            width: 46%;
            flex: initial;
            display: initial;
            flex-direction: initial;
            align-items: initial;
            justify-content: initial;
            text-align: initial;
        }
    }
    &__main-title{
        text-transform: uppercase;
        font-weight: 700;
        font-size: rem(40px);
        line-height: 1.2;
        color: $white;
        margin-bottom: rem(12px);
        word-break: break-all;
        @include _Tablet{
            word-break: keep-all;
            font-size: rem(48px);
            margin-bottom: rem(9px);
        }
        @include _Desktop{
            margin-bottom: rem(17px);
        }
    }
    &__title-desc{
        font-weight: 400;
        font-size: rem(18px);
        line-height: 1.2;
        color: $white;
        margin-bottom: rem(44px);
        @include _Tablet{
            font-size: rem(21px);
        }
        @include _Desktop{
            margin-bottom: rem(39px);
        }
    }
    &__icons{
        display: none;
        @include _Desktop{
            display: block;
        }
    }
}