.hero{
    background: url(../images/hero/bg.png) center center no-repeat;
    background-size: cover;
    background-color: #335487;
    height: 100vh;
    min-height: 650px;
    padding: 24px 0 70px;
    &__title{
        width: 46%;
    }
    &__main-title{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 48px;
        line-height: 1.2;
        color: $white;
        margin-bottom: 17px;
    }
    &__title-desc{
        font-weight: 400;
        font-size: 21px;
        line-height: 1.2;
        color: $white;
        margin-bottom: 39px;
    }
}