.lead-form{
    background: linear-gradient(180deg, rgba(23, 23, 48, 0) 0%, #2B2B2B 100%), url(../images/lead-form/bg.jpg), #2B2B2B center top no-repeat;
    background-size: cover;
    .section__title{
        color: $white;
    }
}
.form{
    display: flex;
    &__col{
        flex: 1;
        &:not(:last-child){
            margin-right: 20px;
        }
    }
    &__row{
        display: flex;
        &:not(:last-child){
            margin-bottom: 12px;
        }
    }
    &__block{
        flex: 1;
        &:not(:last-child){
            margin-right: 20px;
        }
    }
    &__input{
        width: 100%;
        border: 3px solid transparent;
        padding: 18px 12px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.2;
        color: $font-color;
        &:focus{
            border: 3px solid $yellow;
            outline: none;
        }
        &--textarea{
            height: 152px;
            resize: none;
        }
    }
    &__controls{
        display: flex;
        &:not(:last-child){
            margin-bottom: 20px;
        }
    }
    &__title{
        font-weight: 400;
        font-size: 18px;
        line-height: 1.2;
        color: $white;
    }
}