.section{
    height: 100vh;
    min-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title{
        font-weight: 700;
        font-size: 48px;
        line-height: 1.2;
        color: $font-color;
        margin-bottom: 50px;
        text-align: center;
        text-transform: uppercase;
        &--headline{
            margin-bottom: 17px;
        }
        &--white{
            color: $white;
        }
    }
}