.section{
    height: 100vh;
    min-height: rem(900px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include _Tablet{
        min-height: rem(650px);
    }
    .title{
        font-weight: 700;
        font-size: rem(40px);
        line-height: 1.2;
        color: $font-color;
        margin-bottom: rem(30px);
        text-align: center;
        text-transform: uppercase;
        @include _Tablet{
            font-size: rem(48px);
        }
        &--headline{
            margin-bottom: rem(9px);
            @include _Tablet{
                margin-bottom: rem(17px);
            }
        }
        &--white{
            color: $white;
        }
    }
}