$font-family: 'Alegreya Sans', sans-serif;

$white: #fff;
$black: #000;
$gray: #666666;
$font-color: #292929;
$yellow: #FEDB3F;
$yellow-hover: #FFD517;
$blue: #1968B1;

$z-fixed-menu: 100;

$container: 940px;
$baseFontSize: 10px;

$desktop: 1100px;
$tablet: 768px;