@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap');
@import "_vars";
@import "_mixins";
*,
*::after,
*::before{
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p{
    padding: 0;
    margin: 0;
    list-style: none;
}
html{
    font-size: 62.5%;
    font-family: $font-family;
}
body{
    background-color: $white;
}
.container{
    max-width: 94rem;
    margin: 0 auto;
}
@import "blocks/_btn.scss";
@import "blocks/_section.scss";
@import "blocks/_header.scss";
@import "blocks/_hero.scss";
@import "blocks/_features.scss";
@import "blocks/_headline.scss";
@import "blocks/_benefits.scss";
@import "blocks/_reviews.scss";
@import "blocks/_interactive-avatar.scss";
@import "blocks/_lead-form.scss";
@import "blocks/_radio.scss";
@import "blocks/_fixed-menu.scss";