@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  padding: 0;
  margin: 0;
  list-style: none;
}

html {
  font-size: 62.5%;
  font-family: "Alegreya Sans", sans-serif;
}

body {
  background-color: #fff;
}

.container {
  max-width: 94rem;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-weight: 800;
  font-size: 1.6rem;
  line-height: 1;
  padding: 2.1rem 4.1rem;
  border-radius: 100px;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn--theme--yellow {
  background-color: #FEDB3F;
  color: #000;
}
.btn--theme--yellow:hover {
  background-color: #FFD517;
}

.section {
  height: 100vh;
  min-height: 65rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section__title {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 1.2;
  color: #292929;
  margin-bottom: 5rem;
  text-align: center;
  text-transform: uppercase;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
.header .menu__item:not(:last-child) {
  margin-right: 2.2rem;
}
.header .menu__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1;
  color: #fff;
}
.header .phone-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}
.header .phone-number__icon {
  width: 1.3rem;
  height: 1.4rem;
  margin-right: 0.5rem;
}
.header .phone-number__text {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 1;
  color: #fff;
}

.hero {
  background: url(../images/hero/bg.png) center center no-repeat;
  background-size: cover;
  background-color: #335487;
  height: 100vh;
  min-height: 65rem;
  padding: 2.4rem 0 7rem;
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
.hero__title-section {
  width: 46%;
}
.hero__main-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 1.7rem;
}
.hero__title-desc {
  font-weight: 400;
  font-size: 2.1rem;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 3.9rem;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.features__item .feature__icon {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 1.4rem;
}
.features__item .feature__text {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.1;
  color: #fff;
  max-width: 9rem;
}
.features__item:not(:last-child) {
  margin-right: 3.3rem;
}

.headline {
  text-align: center;
  margin-bottom: 5rem;
}
.headline__title {
  margin-bottom: 1.7rem;
}
.headline__subtitle {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.2;
  color: #666666;
  padding: 0 27%;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:not(:last-child)::before {
  position: absolute;
  content: url(../images/why/4.svg);
  top: 44px;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.benefits .benefit {
  text-align: center;
}
.benefits .benefit__image {
  display: inline-block;
  width: 12.8rem;
  height: 12.8rem;
  position: relative;
  background-color: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 2rem;
}
.benefits .benefit__image img {
  width: 6.8rem;
  height: 6.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.benefits .benefit__title {
  font-weight: 700;
  font-size: 2.7rem;
  line-height: 1.2;
  color: #292929;
  margin-bottom: 2rem;
}
.benefits .benefit__desk {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.2;
  color: #666666;
}