@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  padding: 0;
  margin: 0;
  list-style: none;
}

html {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 10px;
}

body {
  background-color: #fff;
}

.wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 100%;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 1000px;
    padding: 0 3rem;
  }
}
@media screen and (min-width: 1100px) {
  .container {
    max-width: 940px;
    padding: 0;
  }
}
.container--hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-weight: 800;
  font-size: 1.6rem;
  line-height: 1;
  padding: 2.1rem 4.1rem;
  border-radius: 10rem;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: none;
  cursor: pointer;
}
.btn--theme--yellow {
  background-color: #FEDB3F;
  color: #000;
}
.btn--theme--yellow:hover {
  background-color: #FFD517;
}
.btn--theme--trasparent {
  background-color: transparent;
  color: #fff;
  font-weight: 400;
  font-size: 1.6rem;
  text-transform: none;
}
.btn--theme--trasparent:hover {
  color: #FFD517;
}

.section {
  height: 100vh;
  min-height: 90rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .section {
    min-height: 65rem;
  }
}
.section .title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.2;
  color: #292929;
  margin-bottom: 3rem;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .section .title {
    font-size: 4.8rem;
  }
}
.section .title--headline {
  margin-bottom: 0.9rem;
}
@media screen and (min-width: 768px) {
  .section .title--headline {
    margin-bottom: 1.7rem;
  }
}
.section .title--white {
  color: #fff;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #1968B1;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 9rem;
  padding: 0 1rem;
  z-index: 100;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 0 3rem;
  }
}
@media screen and (min-width: 1100px) {
  .header {
    width: auto;
    position: sticky;
    background-color: transparent;
    width: auto;
    top: initial;
    left: initial;
    height: auto;
    padding: 0;
    z-index: initial;
  }
}
.header .logo {
  display: inline-block;
  text-decoration: none;
}
.header .logo svg {
  width: 5.6rem;
  height: 4rem;
  fill: #fff;
}
.header .burger {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2.6rem;
  height: 2.4rem;
  position: relative;
}
.header .burger div {
  width: 100%;
  height: 0.4rem;
  background-color: #fff;
  border-radius: 0.2rem;
}
.header .burger div::before, .header .burger div::after {
  content: "";
  width: 100%;
  height: 0.4rem;
  border-radius: 0.2rem;
  background-color: #fff;
  position: absolute;
}
.header .burger div::before {
  top: 0;
}
.header .burger div::after {
  bottom: 0;
}
@media screen and (min-width: 1100px) {
  .header .burger {
    display: none;
  }
}
.header .menu {
  display: none;
}
.header .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
.header .menu__item:not(:last-child) {
  margin-right: 2.2rem;
}
.header .menu__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1;
  color: #fff;
}
@media screen and (min-width: 1100px) {
  .header .menu {
    display: block;
  }
}
.header .phone-number {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}
.header .phone-number__icon {
  width: 1.3rem;
  height: 1.4rem;
  margin-right: 0.5rem;
  fill: #fff;
}
.header .phone-number__text {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 1;
  color: #fff;
}
@media screen and (min-width: 1100px) {
  .header .phone-number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hero {
  margin-top: 9rem;
  background: url(../images/hero/bg.png) 85% center no-repeat;
  background-size: auto 100%;
  background-color: #335487;
  height: 74vh;
  min-height: 65rem;
  padding: 2.4rem 0 7rem;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 90vh;
    background: url(../images/hero/bg.png) right center no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 1100px) {
  .hero {
    height: 100vh;
    margin-top: 0;
    background: url(../images/hero/bg.png) center center no-repeat;
    background-size: cover;
  }
}
.hero__title {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
@media screen and (min-width: 1100px) {
  .hero__title {
    width: 46%;
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
    display: initial;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    text-align: initial;
  }
}
.hero__main-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 1.2rem;
  word-break: break-all;
}
@media screen and (min-width: 768px) {
  .hero__main-title {
    word-break: keep-all;
    font-size: 4.8rem;
    margin-bottom: 0.9rem;
  }
}
@media screen and (min-width: 1100px) {
  .hero__main-title {
    margin-bottom: 1.7rem;
  }
}
.hero__title-desc {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 4.4rem;
}
@media screen and (min-width: 768px) {
  .hero__title-desc {
    font-size: 2.1rem;
  }
}
@media screen and (min-width: 1100px) {
  .hero__title-desc {
    margin-bottom: 3.9rem;
  }
}
.hero__icons {
  display: none;
}
@media screen and (min-width: 1100px) {
  .hero__icons {
    display: block;
  }
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.features__item .feature__icon {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 1.4rem;
  fill: #fff;
}
.features__item .feature__text {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.1;
  color: #fff;
  max-width: 90rem;
}
.features__item:not(:last-child) {
  margin-right: 3.3rem;
}

.headline {
  text-align: center;
  margin-bottom: 5rem;
}
.headline__subtitle {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.2;
  color: #666666;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .headline__subtitle {
    padding: 0 19%;
  }
}
@media screen and (min-width: 1100px) {
  .headline__subtitle {
    padding: 0 27%;
  }
}

.benefits__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .benefits__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0;
  position: relative;
}
@media screen and (min-width: 768px) {
  .benefits__item {
    padding: 0 1%;
  }
}
@media screen and (min-width: 1100px) {
  .benefits__item {
    padding: 0 3%;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:not(:last-child)::before {
  position: absolute;
  content: url(../images/why/1.svg);
  top: 4.4rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  display: none;
}
@media screen and (min-width: 1100px) {
  .benefits__item:not(:last-child)::before {
    display: block;
  }
}
.benefits .benefit {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.benefits .benefit:not(:last-child) {
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .benefits .benefit {
    text-align: center;
    display: initial;
  }
  .benefits .benefit:not(:last-child) {
    margin-bottom: 0;
  }
}
.benefits .benefit__image {
  display: inline-block;
  min-width: 12.8rem;
  height: 12.8rem;
  position: relative;
  background-color: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 0;
  margin-right: 1.2rem;
}
@media screen and (min-width: 768px) {
  .benefits .benefit__image {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}
.benefits .benefit__image .image {
  width: 6.8rem;
  height: 6.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: #000;
}
.benefits .benefit__title {
  font-weight: 700;
  font-size: 2.7rem;
  line-height: 1.2;
  color: #292929;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .benefits .benefit__title {
    margin-bottom: 0.7rem;
  }
}
@media screen and (min-width: 1100px) {
  .benefits .benefit__title {
    margin-bottom: 2rem;
  }
}
.benefits .benefit__desk {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.2;
  color: #666666;
}

.reviews__display {
  background-color: #F8FAF9;
  padding: 5.6rem 2.5rem 3rem;
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .reviews__display {
    padding: 5.6rem 2.4rem 4.6rem;
    margin-bottom: 3.2rem;
  }
}
@media screen and (min-width: 1100px) {
  .reviews__display {
    padding: 4.2rem;
    margin-bottom: 1.5rem;
  }
}
.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1100px) {
  .reviews__display-inner {
    text-align: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.reviews__avatar {
  width: 13rem;
  height: 13.2rem;
  margin-bottom: 3.2rem;
}
@media screen and (min-width: 1100px) {
  .reviews__avatar {
    margin-bottom: 0;
    width: 25.4rem;
    height: 26.4rem;
  }
}
.reviews__avatar img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 0;
}
@media screen and (min-width: 1100px) {
  .reviews__content {
    margin-left: 4rem;
  }
}
.reviews__title {
  font-weight: 700;
  font-size: 2.7rem;
  line-height: 1.2;
  color: #292929;
  margin-bottom: 1.6rem;
}
@media screen and (min-width: 1100px) {
  .reviews__title {
    margin-bottom: 1.4rem;
  }
}
.reviews__text {
  margin-bottom: 1.6rem;
}
.reviews__text p {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.2;
  color: #666666;
}
@media screen and (min-width: 1100px) {
  .reviews__text {
    margin-bottom: 2.5rem;
  }
}
.reviews__author {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.5;
  color: #292929;
}
.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interactive-avatar {
  width: 7.4rem;
  height: 7.4rem;
  border: 0.6rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar.active {
  border: 0.6rem solid #FEDB3F;
}
.interactive-avatar__link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
}
.interactive-avatar__link img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.lead-form {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(23, 23, 48, 0)), to(#2B2B2B)), url(../images/lead-form/bg.jpg), #2B2B2B center top no-repeat;
  background: linear-gradient(180deg, rgba(23, 23, 48, 0) 0%, #2B2B2B 100%), url(../images/lead-form/bg.jpg), #2B2B2B center top no-repeat;
  background-size: cover;
}
.lead-form .section__title {
  color: #fff;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .form {
    padding: 0 17%;
  }
}
@media screen and (min-width: 1100px) {
  .form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
  }
}
.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.form__col:not(:last-child) {
  margin-right: 0;
  margin-bottom: 1.4rem;
}
@media screen and (min-width: 1100px) {
  .form__col:not(:last-child) {
    margin-bottom: 0;
    margin-right: 2rem;
  }
}
.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form__row:not(:last-child) {
  margin-bottom: 1.4rem;
}
@media screen and (min-width: 1100px) {
  .form__row:not(:last-child) {
    margin-bottom: 1.2rem;
  }
}
.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.form__block:not(:last-child) {
  margin-right: 2rem;
}
.form__input {
  width: 100%;
  border: 0.3rem solid transparent;
  padding: 0.66rem 1rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.2;
  color: #292929;
  border-radius: 0.4rem;
}
@media screen and (min-width: 1100px) {
  .form__input {
    padding: 1.56rem 1.2rem;
    font-size: 1.8rem;
  }
}
.form__input:focus {
  border: 0.3rem solid #FEDB3F;
  outline: none;
}
.form__input--textarea {
  height: 8.2rem;
  resize: none;
}
@media screen and (min-width: 1100px) {
  .form__input--textarea {
    height: 15.2rem;
  }
}
.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .form__controls {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
}
.form__controls:not(:last-child) {
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 1100px) {
  .form__controls:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.form__title {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.2;
  color: #fff;
}
.form__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1100px) {
  .form__btns {
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .radio {
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    width: auto;
  }
}
.radio:not(:last-child) {
  margin-right: 0;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .radio:not(:last-child) {
    margin-bottom: 0;
    margin-right: 1rem;
  }
}
@media screen and (min-width: 1100px) {
  .radio:not(:last-child) {
    margin-right: 2rem;
  }
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible::before {
  background: url(../images/lead-form/1.svg) center center no-repeat;
}
.radio input {
  display: none;
}
.radio input:checked ~ .radio__visible::before {
  display: block;
}
.radio__visible {
  width: 2.6rem;
  height: 2.6rem;
  position: relative;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 1rem;
}
.radio__visible::before {
  content: "";
  width: 1.3rem;
  height: 1.3rem;
  background-color: #FEDB3F;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}
.radio__title {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.2;
  color: #fff;
}

.map {
  max-height: 100%;
  height: 100%;
  background-color: #FEDB3F;
  overflow: hidden;
}
.map img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  min-height: 15rem;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .footer {
    min-height: 10rem;
  }
}
@media screen and (min-width: 1100px) {
  .footer {
    min-height: 9rem;
  }
}
.footer .container {
  height: 100%;
}
.footer__inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.footer__contacts-item {
  margin-bottom: 1.2rem;
}
@media screen and (min-width: 768px) {
  .footer__contacts-item {
    margin-bottom: 0;
  }
}
.footer__contacts-link {
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  font-size: 2.1rem;
  line-height: 1;
  color: #292929;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .footer__contacts-link {
    margin-bottom: 0.6rem;
  }
}
.footer__contacts .phone-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer__contacts .phone-number {
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
}
.footer__contacts .phone-number__icon {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.7rem;
  fill: #292929;
}
.footer__contacts .phone-number__text {
  font-weight: 400;
  font-size: 2.1rem;
  line-height: 1;
  color: #292929;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social__item:not(:last-child) {
  margin-right: 1.4rem;
}
.social__link {
  display: inline-block;
  text-decoration: none;
}
.social__link:hover svg {
  fill: #292929;
}
.social__link svg {
  width: 2rem;
  height: 2rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  fill: #666666;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
  display: none;
}
@media screen and (min-width: 1100px) {
  .fixed-menu {
    display: block;
  }
}
.fixed-menu__item.active .fixed-menu__link {
  border: 0.1rem solid #fff;
}
.fixed-menu__item:not(:last-child) {
  margin-bottom: 0.5rem;
}
.fixed-menu__link {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  border: 0.1rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  position: absolute;
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}