@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  padding: 0;
  margin: 0;
  list-style: none;
}

html {
  font-size: 62.5%;
  font-family: "Alegreya Sans", sans-serif;
}

body {
  background-color: #fff;
}

.container {
  max-width: 94rem;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-weight: 800;
  font-size: 1.6rem;
  line-height: 1;
  padding: 2.1rem 4.1rem;
  border-radius: 100px;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: none;
  cursor: pointer;
}
.btn--theme--yellow {
  background-color: #FEDB3F;
  color: #000;
}
.btn--theme--yellow:hover {
  background-color: #FFD517;
}
.btn--theme--trasparent {
  background-color: transparent;
  color: #fff;
  font-weight: 400;
  font-size: 1.6rem;
  text-transform: none;
}
.btn--theme--trasparent:hover {
  color: #FFD517;
}

.section {
  height: 100vh;
  min-height: 65rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section__title {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 1.2;
  color: #292929;
  margin-bottom: 5rem;
  text-align: center;
  text-transform: uppercase;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
.header .menu__item:not(:last-child) {
  margin-right: 2.2rem;
}
.header .menu__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1;
  color: #fff;
}
.header .phone-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}
.header .phone-number__icon {
  width: 1.3rem;
  height: 1.4rem;
  margin-right: 0.5rem;
}
.header .phone-number__text {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 1;
  color: #fff;
}

.hero {
  background: url(../images/hero/bg.png) center center no-repeat;
  background-size: cover;
  background-color: #335487;
  height: 100vh;
  min-height: 65rem;
  padding: 2.4rem 0 7rem;
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
.hero__title-section {
  width: 46%;
}
.hero__main-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 1.7rem;
}
.hero__title-desc {
  font-weight: 400;
  font-size: 2.1rem;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 3.9rem;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.features__item .feature__icon {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 1.4rem;
}
.features__item .feature__text {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.1;
  color: #fff;
  max-width: 9rem;
}
.features__item:not(:last-child) {
  margin-right: 3.3rem;
}

.headline {
  text-align: center;
  margin-bottom: 5rem;
}
.headline__title {
  margin-bottom: 1.7rem;
}
.headline__subtitle {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.2;
  color: #666666;
  padding: 0 27%;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:not(:last-child)::before {
  position: absolute;
  content: url(../images/why/4.svg);
  top: 44px;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.benefits .benefit {
  text-align: center;
}
.benefits .benefit__image {
  display: inline-block;
  width: 12.8rem;
  height: 12.8rem;
  position: relative;
  background-color: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 2rem;
}
.benefits .benefit__image img {
  width: 6.8rem;
  height: 6.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.benefits .benefit__title {
  font-weight: 700;
  font-size: 2.7rem;
  line-height: 1.2;
  color: #292929;
  margin-bottom: 2rem;
}
.benefits .benefit__desk {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.2;
  color: #666666;
}

.reviews__display {
  background-color: #F8FAF9;
  padding: 4.2rem;
  margin-bottom: 1.5rem;
}
.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.reviews__avatar {
  width: 25.4rem;
  height: 26.4rem;
}
.reviews__avatar img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 4rem;
}
.reviews__title {
  font-weight: 700;
  font-size: 2.7rem;
  line-height: 1.2;
  color: #292929;
  margin-bottom: 1.4rem;
}
.reviews__text {
  margin-bottom: 2.5rem;
}
.reviews__text p {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.2;
  color: #666666;
}
.reviews__author {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.5;
  color: #292929;
}
.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interactive-avatar {
  width: 7.4rem;
  height: 7.4rem;
  border: 6px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar.active {
  border: 6px solid #FEDB3F;
}
.interactive-avatar__link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
}
.interactive-avatar__link img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.lead-form-section {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(23, 23, 48, 0)), to(#2B2B2B)), url(../images/lead-form/bg.jpg), #2B2B2B center top no-repeat;
  background: linear-gradient(180deg, rgba(23, 23, 48, 0) 0%, #2B2B2B 100%), url(../images/lead-form/bg.jpg), #2B2B2B center top no-repeat;
  background-size: cover;
}
.lead-form-section .section__title {
  color: #fff;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.form__col:not(:last-child) {
  margin-right: 2rem;
}
.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form__row:not(:last-child) {
  margin-bottom: 1.2rem;
}
.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.form__block:not(:last-child) {
  margin-right: 2rem;
}
.form__input {
  width: 100%;
  border: 3px solid transparent;
  padding: 1.8rem 1.2rem;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.2;
  color: #292929;
}
.form__input:focus {
  border: 3px solid #FEDB3F;
  outline: none;
}
.form__input--textarea {
  height: 15.2rem;
  resize: none;
}
.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form__controls:not(:last-child) {
  margin-bottom: 2rem;
}
.form__title {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.2;
  color: #fff;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.radio:not(:last-child) {
  margin-right: 2rem;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible::before {
  background: url(../images/lead-form/1.svg) center center no-repeat;
}
.radio input {
  display: none;
}
.radio input:checked ~ .radio__visible::before {
  display: block;
}
.radio__visible {
  width: 2.6rem;
  height: 2.6rem;
  position: relative;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 1rem;
}
.radio__visible::before {
  content: "";
  width: 1.3rem;
  height: 1.3rem;
  background-color: #FEDB3F;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}
.radio__title {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.2;
  color: #fff;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}
.fixed-menu__item.active .fixed-menu__link {
  border: 1px solid #fff;
}
.fixed-menu__item:not(:last-child) {
  margin-bottom: 0.5rem;
}
.fixed-menu__link {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  position: absolute;
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}