.lead-form-section {
  background: url(../images/lead-form/bg.jpg) center top no-repeat;
  background-size: cover;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.form__col:not(:last-child) {
  margin-right: 2rem;
}
.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form__row:not(:last-child) {
  margin-bottom: 1.2rem;
}
.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.form__block:not(:last-child) {
  margin-right: 2rem;
}
.form__input {
  width: 100%;
}