.features{
    display: flex;
    list-style: none;
    &__item{
        display: flex;
        align-items: center;
        .feature{
            &__icon{
                width: rem(35px);
                height: rem(35px);
                margin-right: rem(14px);
                fill: $white;
            }
            &__text{
                font-weight: 700;
                font-size: rem(16px);
                line-height: 1.1;
                color: $white;
                max-width: rem(900px);
            }
        }
        &:not(:last-child){
            margin-right: rem(33px);
        }
    }
}