.hero{
    background: url(../images/hero/bg.png);
    background-repeat: no-repeat;
    background-position: 85% 60px;
    background-size: cover;
    background-color: #335487;
    height: 100%;
    padding: 0;
    @include _Mobile{
        background: url(../images/hero/bg.png);
        background-position: 85% center;
        background-size: auto 100%;
    }
    @include _Tablet{
        padding: rem(24px) 0 rem(70px);
        background: url(../images/hero/bg.png);
        background-position: right center;
        background-size: cover;
    }
    @include _Desktop{
        margin-top: 0;
        background: url(../images/hero/bg.png);
        background-position: center center;
        background-size: cover;
    }
    &__title{
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        @include _Desktop{
            width: 46%;
            flex: initial;
            display: initial;
            flex-direction: initial;
            align-items: initial;
            justify-content: initial;
            text-align: initial;
        }
    }
    &__main-title{
        text-transform: uppercase;
        font-weight: 700;
        font-size: rem(28px);
        line-height: 1.2;
        color: $white;
        margin-bottom: rem(12px);
        @include _Mobile{
            font-size: rem(40px);
        }
        @include _Tablet{
            font-size: rem(48px);
            margin-bottom: rem(9px);
        }
        @include _Desktop{
            margin-bottom: rem(17px);
        }
    }
    &__title-desc{
        font-weight: 400;
        font-size: rem(18px);
        line-height: 1.2;
        color: $white;
        margin-bottom: rem(30px);
        @include _Mobile{
            margin-bottom: rem(44px);  
        }
        @include _Tablet{
            font-size: rem(21px);
        }
        @include _Desktop{
            margin-bottom: rem(39px);
        }
    }
    &__icons{
        display: none;
        @include _Desktop{
            display: block;
        }
    }
}