.product-menu{
    background: linear-gradient(0deg, rgba(23, 23, 48, .4) 0%, rgba(23, 23, 48, 0) 100%), url(../images/product-menu/bg.png) center center no-repeat;
    background-size: cover;
    position: relative;
    color: $white;
    &__title{
        color: $white;
    }
    &__inner{
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
    }
    &__item{
        display: flex;
        &.static{
            display: none;
            @include _Tablet{
                display: flex;
            }
        }
        &.active{
            display: flex;
        }
        &-title{
            display: flex;
            flex-direction: column;
            text-decoration: none;
            position: relative;
            width: rem(60px);
            @include _Tablet{
                width: rem(102px);
            }
            &::after{
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                content: "";
                background: linear-gradient(180deg, rgba(23, 23, 48, 0) 0%, #2B2B2B 100%);
                z-index: 2;
            }
            img{
                max-width: 100%;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &__text{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: rem(40px);
        left: 0;
        right: 0;
        font-weight: 700;
        font-size: rem(48px);
        line-height: 1;
        color: $white;
        writing-mode: vertical-lr;
        transform-origin: center;
        transform: rotate(-180deg); 
        z-index: 4;
    }
    &__content{
        backdrop-filter: blur(10px);
        background: rgba(51, 53, 55, 0.9);
        width: 0;
        position: relative;
        overflow: hidden;
        transition: width .8s ease-in-out;
    }
    &__container{
        padding: rem(40px) rem(73px) rem(45px) rem(26px);
        p{
            font-weight: 400;
            font-size: rem(16px);
            line-height: 1.5;
            color: $white;
        }
    }
    &__close{
        position: absolute;
        top: rem(20px);
        right: rem(25px);
        border: none;
        background-color: transparent;
        cursor: pointer;
        svg{
            width: rem(20px);
            height: rem(20px);
            fill: $white;
        }
    }
}