.section{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    .title{
        font-weight: 700;
        font-size: rem(40px);
        line-height: 1.2;
        color: $font-color;
        margin-bottom: rem(30px);
        text-align: center;
        text-transform: uppercase;
        @include _Tablet{
            font-size: rem(48px);
        }
        &--headline{
            margin-bottom: rem(9px);
            @include _Tablet{
                margin-bottom: rem(17px);
            }
        }
        &--white{
            color: $white;
        }
        &--product-menu{
            color: $white;
            position: absolute;
            top: 8%;
            left: 2%;
            margin-bottom: 0;
            line-height: 1;
            @include _Tablet{
                top: 10%;
                left: 6%;
            }
            @include _Desktop{
                top: 20%;
                left: 10%;
            }
        }
    }
}