.video{
    width: rem(300px);
    height: rem(232px);
    @include _Mobile{
        width: rem(394px);
        height: rem(232px);
    }
    @include _Tablet{
        width: rem(594px);
        height: rem(352px);
    }
    @include _Desktop{
        width: rem(662px);
        height: rem(392px);
    }
    &__play{
        border: none;
        background-color: transparent;
        width: rem(44px);
        height: rem(64px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: url(../images/video/play.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        z-index: 1;
        cursor: pointer;
        @include _Tablet{
            width: rem(68px);
            height: rem(98px);
        }
        @include _Desktop{
            width: rem(76px);
            height: rem(110px);
        }
        &.active{
            background: transparent;
        }
    }
    &__controls{
        padding: 0 rem(19px) 0 rem(10px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #404040;
        height: rem(34px);
        @include _Tablet{
            padding: 0 rem(29px) 0 rem(16px);
        }
        @include _Desktop{
            padding: 0 rem(31px) 0 rem(16px);
        }
        &-play{
            border: none;
            background-color: transparent;
            width: rem(6px);
            height: rem(10px);
            background: url(../images/video/controls/play.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            cursor: pointer;
            @include _Tablet{
                width: rem(9px);
                height: rem(14px);
            }
            @include _Desktop{
                width: rem(10px);
                height: rem(16px);
            }
            &.active{
                background: url(../images/video/controls/pause.svg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
        }
        &-bar{
            position: relative;
            height: rem(4px);
            width: rem(160px);
            cursor: pointer;
            @include _Mobile{
                width: rem(264px);
            }
            @include _Tablet{
                height: rem(6px);
                width: rem(400px);
            }
            @include _Desktop{
                width: rem(446px);
            }
            &-item{
                position: absolute;
                top: 50%;
                left: 0%;
                transform: translateY(-50%);
                border: none;
                background-color: #626262;
                height: rem(4px);
                width: rem(160px);
                @include _Mobile{
                    width: rem(264px);
                }
                @include _Tablet{
                    height: rem(6px);
                    width: rem(400px);
                }
                @include _Desktop{
                    width: rem(446px);
                }
                &::-webkit-progress-value{
                    background-color: $yellow;
                }
            }
            &-dot{
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                border-radius: 50%;
                width: rem(9px);
                height: rem(9px);
                background-color: $yellow;
                @include _Tablet{
                    width: rem(13px);
                    height: rem(13px);
                }
                @include _Desktop{
                    width: rem(15px);
                    height: rem(15px);
                }
            }
        }
        &-volume{
            display: flex;
            align-items: center;
            &-mute{
                width: rem(7px);
                height: rem(10px);
                border: none;
                background-color: transparent;
                background: url(../images/video/controls/volume.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                margin-right: rem(13px);
                cursor: pointer;
                @include _Tablet{
                    margin-right: rem(20px);
                    width: rem(11px);
                    height: rem(14px);
                }
                @include _Desktop{
                    width: rem(12px);
                    height: rem(16px);
                    margin-right: rem(24px);
                }
                &.active{
                    background: url(../images/video/controls/mute.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                }
            }
            &-bar{
                position: relative;
                height: rem(4px);
                width: rem(36px);
                cursor: pointer;
                @include _Tablet{
                    width: rem(54px);
                }
                @include _Desktop{
                    height: rem(4px);
                    width: rem(56px);
                }
                &-item{
                    position: absolute;
                    top: 50%;
                    left: 0%;
                    transform: translateY(-50%);
                    border: none;
                    background-color: #626262;
                    height: rem(4px);
                    width: rem(36px);
                    @include _Tablet{
                        width: rem(54px);
                    }
                    @include _Desktop{
                        height: rem(4px);
                        width: rem(56px);
                    }
                    &::-webkit-progress-value{
                        background-color: $yellow;
                    }
                }
                &-dot{
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    border-radius: 50%;
                    width: rem(9px);
                    height: rem(9px);
                    background-color: $yellow;
                    @include _Tablet{
                        width: rem(13px);
                        height: rem(13px);
                    }
                    @include _Desktop{
                        width: rem(15px);
                        height: rem(15px);
                    }
                }
            }
        }
    }
}